@tailwind base;
@tailwind components;
@tailwind utilities;

/* Regular */
@font-face {
    font-family: "Poppins";
    src: url('../fonts/poppins/Poppins-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Bold */
@font-face {
    font-family: "Poppins";
    src: url('../fonts/poppins/Poppins-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: bold;
    font-display: swap;
}

/* SemiBold */
@font-face {
    font-family: "Poppins";
    src: url('../fonts/poppins/Poppins-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Italic variants */
@font-face {
    font-family: "Poppins";
    src: url('../fonts/poppins/Poppins-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url('../fonts/poppins/Poppins-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url('../fonts/poppins/Poppins-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Caveat";
    src: url('../fonts/caveat/Caveat-Regular.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

html {
    overflow-x: clip;
}

body {
    overflow-x: visible;
}


@layer components {
    .form-input {
        @apply w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-1 focus:ring-brand-link focus:border-brand-link disabled:bg-gray-100 disabled:text-gray-400 disabled:cursor-not-allowed;
    }

    .info-button {
        @apply bg-transparent p-2 rounded-lg border border-brand-primary hover:bg-gray-300;
    }

    a.email-field:not(.has-icon)>span:nth-child(4) {
        @apply hidden;
    }

    a.email-field:not(.has-icon) {
        @apply inline select-none;
    }

    a.email-field:not(.has-icon)>span {
        @apply pointer-events-none;
    }

    a.email-field:not(.has-icon):hover,
    a.tel-field:not(.has-icon):hover {
        @apply underline;
    }

    .default-link {
        @apply text-brand-link font-medium underline-offset-4 hover:underline;
    }

    .contact-button {
        @apply flex-1 bg-white text-brand-link hover:bg-brand-secondary border border-brand-link font-medium py-2 px-4 rounded-lg transition-colors duration-300 flex items-center justify-center gap-2;
    }

    /* Override VueDatePicker error class */
    /* Invalid state */
    .dp__input_invalid {
        @apply ring-[2px] ring-status-error ring-offset-2 bg-status-error/20;
    }

    /* Valid state */
    .dp__input_valid {
        @apply ring-[2px] ring-status-success ring-offset-2 bg-status-success/10;
    }

}
